.quotes {
    margin-top: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    width:200px;
}


p{
    margin: 0px;
}

table.clear {
    width: 200px;
    margin-left: 30px;
    margin:0px 0px 20px 0px ;
}
table.clear tr th {
    margin: 0px;
    padding:0px;
    background-color: transparent;
    border:none;
}

table.clear tr td {
    border:none;
    height: fit-content;
    margin:0px;
    padding:0px;
    background-color: transparent;
}

table.clear tr:nth-child(even){
    background-color: transparent;

}
table.clear tr:nth-child(odd){
    background-color: transparent;

}

#left_main {
   
    padding: 0px 20px;
    width: 45%;
}

#right_main {
    border-radius: 10px;
    border: 2px solid #4F2C73;
    padding: 30px;
    width: 50%;
    height:fit-content;
}
#interface_block_two {
    justify-content: space-between;
}

h2.logo {
    font-size:50px
}
input.form_input {
    width: 60%;
}
label.form_label {
    width:22%;
}
.form_row {
    margin: 10px 0px;
}

.top_new {
    margin-left: 80px;
}
select.form_select {
    display: inline-block;
    width: 20%;
}
input.age {
    width: 70px;
    margin-right: 50px;
}
.add_ons {
    margin-top:50px;
}
.owner {
    
    width:100%;
    justify-content: space-evenly;
    display:flex;
}

.o_right {
    width:40%;
}

.prev_dog {
    width:150px;
    display:flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.coats {
    margin-top:50px;
    display:flex;
    flex-wrap: wrap;
    width:400px;
}

img.pic{
    width:100px;
    height:100px;
}

.coat_desc h2 {
    font-size: 15px;
}

.table {
    max-height: 300px;
    overflow: auto;
    padding: 0px;
    border:3px solid black;
    border-radius: 10px;
    height:fit-content;
}

table {
    width:100%;
    margin: 0px;
}


img.icon {
    height:600px;
    border-radius: 30px 0px 0px 0px;
    position: absolute;
    opacity: .2;
    z-index: -1;
    margin-left: -140px;
    margin-top: -30px;
}
img.icon2 {
    height:500px;
    position: absolute;
    margin-left: 400px;
    margin-top: 100px;
}
img.icon3 {
    height:500px;
    z-index: -1;
    position: absolute;
    margin-left: -200px;
    margin-top: 10px;
    opacity: .4;
}

img.icon4 {
    height:500px;
    z-index: -1;
    position: absolute;
    margin-left: -200px;
    margin-top: 10px;
    opacity: .4;
}


.edit_quote {

    margin-bottom: 30px;
}

.dog_list{
    display:flex;
    flex-direction: column;
    margin-top:30px;
}

#left_main_quote {
    width:50%;
}

.add_ons {
    border-radius: 10px;
    background:white;
    padding: 20px;
    background:rgba(0, 255, 0, 0.1)
}

.add_owner{
    margin:30px 0px;
}