/* CANVAS AND  NAV BAR  LONG */
:root {
    --logo: Bree Serif, serif;
    --p : Poppins, sans-serif;
}
body {
    background-image: url('images/stripes2.jpg');
}
html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }

*{
    font-weight: bold;
    font-family:var(--p);
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    /* border: 2px solid yellow; */
}
a {
    font-weight: bold;
    text-decoration: underline;
    color:#C46277;
}
a.btn-primary {
    background-color:#8AA236;
    border: 2px solid #637A14;
}

ul.messages {
    list-style: none;
    color:red;
    padding-left: 0px;
    margin-left: 0px;
    width: 100%;
}


#TOP_long {
    background-image:linear-gradient( #8AA236, #637A14 );
}



button {
    border: 2px solid black;
    padding: 2px 5px;
    margin-top: 20px;
    background-color: green;
    color: white;
    display: block;
    box-shadow: 2px 2px black;
}

#CANVAS_long {
    background-color:purple;
}
.nav_logo{
    font-size: 30px;
    font-weight: lighter;
    margin-left: 65px;
    color:#E1F4A2;
}

/* CANVAS NAV BAR */
nav {
    padding:10px 0px;
    border-bottom: 2px solid #8AA236;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

nav .h2_nav {
    font-size:18px;
    margin-left:65px;
    margin-top:6px;
    color:#E1F4A2;
    margin-right: 10px;
    height:fit-content;
}

h2.h2_nav{
    font-family: var(--logo);
}

a.h2_nav, h2.h2_nav{
    justify-self: center;
    text-decoration: none;
}

.nav_right {
    display:flex;
    margin-right:61px;
}


.nav_left {
    display:flex;
}


#TOP_long {
    margin-bottom: 20px;
}
/* CANVAS MAIN CONTENT LONG */
#interface_block_two {
    
    margin-left: 65px;
    width: 90%;
    display:flex;
    justify-content: center;
}

#interface_block_one{
    height: 900px;
    margin: 0 auto;
    width: 90%;
}


#left_main, #right_main {
    background-color:green;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid yellow;
    width: 50%;
    min-width: 300px;
}



/* FORMS GENRAL */

form {
    border: 2px solid blue;
    width: 90%;
}



.form_row.two_cols {
    width:100%;
    display:flex;
    justify-content: space-between;
}

input.form_input {
    border: 2px solid black;
    margin:0px;
    display:inline-block;
    width:70%;
    height:25px;
}
label.form_label {
    margin:0px;
    display:inline-block;
    width: 100%;
}

label.form_label.date {
    width: 21%;
}

select.form_select {
    border: 2px solid black;
}

label.form_label_select {
    width: 20%;
    margin-right: 53px;
}

.left {
    width:50%;
    padding-top:10px;
}


.right {
    text-align: center;
    padding: 0px;
    width:50%;
    display:flex;
}
textarea.form_textarea {
    resize: none;
    display:inline-block;
    border: 2px solid black;
    vertical-align: top;
    width: 60%;
    height: 70px;
}

button.form_button {
    margin-left:23%;
}

/* FINAL ROW CONTAINOER FOR ALL BUTTONS */

.form_row_button {
    display:flex;
    justify-content: flex-end;
    width: 70%;
}

/*  FORM GROUPED ITEMS */
/* RADIO */

p.form_group_title{
    margin-top: 20px;
    margin-bottom: 10px; 
}

label.form_group_label.radio {
    margin:0px;
    width:30%;
    display:inline-block;
}
input.form_group_input.radio {
    width: 10%;
    display:inline-block;
}

/*CHECK*/

.form_row_group.check {
    width:100%;
    flex-wrap: wrap;
    display:flex;
    justify-content: start;
}

label.form_group_label.check {
    margin:0px;
    width:30%;
    display:inline-block;
}

input.form_group_input.check{
    margin:0px;
    display:inline-block;
    width:10%;
}
/*  MESSAGE POST */
form.msg_post{
    width: 50%;
}
p.msg_post_title {
    margin:0px;
}
textarea.msg_post{
    resize: none;
    border: 2px solid black;
    vertical-align: top;
    width: 100%;
    height: 70px;
}

button.form_post_button {
    margin: 5px 0px 0px 0px;
    text-align:left;
}



/*  MESSAGE COMMENT */
form.msg_comment{
    width: 45%;
    padding-left: 50px;
}
p.msg_comment_title {
    margin:0px;
}
textarea.msg_comment{
    resize: none;
    border: 2px solid black;
    vertical-align: top;
    width: 100%;
    height: 70px;
}

button.form_comment_button {
    margin: 5px 0px 0px 0px;
    text-align:left;
}





/* INFO BLOCK 1 */
.info_block_1 {
    border-top: 3px solid black;
    border-bottom: 2px solid blue;
    padding-left:10px;
    width: 50%;
}
h1.info_h1 {
    font-size: 20px;
}

p.info_h1 {
    font-size: 15px;
    padding-left:10px;
}

div.info_h1 {
    display:flex;
    justify-content: flex-end;
    font-size: 15px;
}


/* INFO BLOCK 2*/
.info_block_2 {
    border-top: 3px solid black;
    border-bottom: 2px solid blue;
    padding-left:30px;
    width: 50%;
}
h1.info_h2 {
    font-size: 20px;
}

p.info_h2 {
    font-size: 15px;
}

div.info_h2 {
    display:flex;
    justify-content: flex-end;
    font-size: 15px;
}


/* Tables */
table {
    margin-top: 40px;
    margin-bottom: 40px;
    border-collapse:collapse;
}

td, th {
    border: 1px solid black;
    text-align:left;
    padding: 5px 10px;
}

tr:nth-child(even){
    background-color: #dddddd;

}
tr:nth-child(odd){
    background-color: rgb(255, 255, 255,.7);

}

th.id {
    width:2%;
}
th.network {
    width:5%;
}
th.release {
    width:30%;
}
th.actions {
    width:35%;
}
th.title {
    width:30%;
}

th {
    height: 20px;
    background-color:gray;
}

td {
    height: 40px;
}


.landing_footer {
    display:flex;
}

.info_block_1.land {
    border: none;
}

p.info_h1.land {
    padding: 0px;
}

.form_row_button_with_title {
    border:2px solid black;
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}


.form_row_button_with_title button.form_button {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}


.form_row_right {
    display:flex;
    justify-content: flex-end;
    width: 90%;
}

.form_row_button_with_title {
    margin:0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}



h2.form_h2 {

    margin-left: 20px;
    background-color: white;
    padding: 0px 5px;
    margin-top: -12px;
    position: absolute;
    z-index: 1;
}

.first_row {
    margin-top:30px;
}

h2.title_h2 {
    font-weight: bolder;
    width:85%;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}
/* CLEAR AWKWARD BACKGROUNDS */

form {
    border: none;
}

#left_main, #right_main, #bottom_main {
    background-color: transparent;
    border: none;
}
#CANVAS_long {
    background-color:transparent;    
}
b {
    font-weight: bold;
}

h2 {
    font-family : var(--logo);
}
em {
    font-size: 15px;
    font-family: var(--logo);
    font-style:normal ;
}

a.in_page {
    font-weight: bold;
    color: #C46277;
    text-decoration: underline;
}

.logo {
    font-size: 50px;
}

a.no_un {
    text-decoration: none;
}