
.jumbotron {
    margin-top: 0px;
    background-image: url('images/fairest1.jpg');
    background-size:cover;
    
}

.light {
    width:550px;
    padding: 50px;
    height: 400px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.display-4 {
    font-size: 60px;
    font-family: var(--logo);
}

p.title {
    margin: 10px 0px;
    color:#637A14;
    font-size: 20px;
    font-family: var(--logo);
}


#interface_block_one {
    height:600px;
}

p.lead{
    font-size: 13px;

}

i.brand {
    color:#637A14
}

a.btn {
    margin-top: 20px;
}

.buttons {
    justify-content: space-around;
    display:flex;
}