
.jumbotron {
    margin-top: 70px;
    border-radius:20px;
    background-image: url('images/fairest1.jpg');
    background-size:cover;
    
}

.light {
    width:580px;
    padding: 50px 50px 50px 80px;
    height: 455px;
    margin-left: 90px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.display-4 {
    font-size: 60px;
    font-family: var(--logo);
    margin-bottom: 30px;
}

p.title {
    width:80%;
    margin: 10px 0px;
    color:#637A14;
    font-size: 20px;
    font-family: var(--logo);
}


#interface_block_one {
    height:600px;
}

p.lead{
    width:95%;
    font-size: 15px;

}

i.brand {
    color:#637A14
}

a.btn {
    margin-top: 20px;
}
