<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHANGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'add_anonymous_estimate.css' %}">
</head>
<body>

    
    <div id="CANVAS_long">
        <div id="TOP_long">
            <nav>
                <div class="nav_left">
                    <h2 class = 'h2_nav'> FAIR<i class="fa fa-handshake-o nav"></i>EST</h2>
                    <a class = 'nav_right h2_nav' href = '/dashboard'>Dashboard</a>
                    <!-- <a href='/dashboard' class = 'h2_nav'> Home</p> -->
                </div>
                <div class="nav_right">
                    <a class = 'nav_right h2_nav' href = '/signout'>Sign Out</a>
                </div>
            </nav>
        </div>



        <div id="interface_block_two">
            <div id="left_main">  
                <h2><p>Owner:</p>{{estimate.owner.first}} {{estimate.owner.last}}</h2>
                <p>{{estimate.owner.email}}</p> 
                <p>{{estimate.owner.phone}}</p> 
                <p>{{estimate.owner.notes}}</p>

                <h3>Currently in Estimate:</h3>
                <table>
                    <tr>
                        <th class= "name">pet name</th>
                        <th class = 'weight'>weight</th>
                        <th class = 'coat_type'>coat_type</th>
                        <th class = 'total'>total</th>
                        <th class = 'actions'>actions</th>
                    </tr>
                    {% if estimate %}
                    {% for quote in estimate.quotes.all %}
                    <tr>
                        <td>{{quote.dog.name}}</td>
                        <td>{{quote.dog.weight}} lbs</td>
                        <td>{{quote.dog.coat.name}}</td>
                        <td>${{quote.total}}</td>

                        <td>
                            <a class = 'in_page' href = '/process_remove_dog_from_estimate/{{quote.id}}/{{estimate.id}}'>Remove from Estimate</a> |
                            <a class = 'in_page' href = '/edit_quote/{{quote.id}}/{{estimate.id}}'>Edit Pet Quote</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <h3>Estimate Total: ${{estimate.total}}</h3>
                
                <div class = 'form_row'>
                    <form action="/process_add_extras_to_quote/{{quote.id}}/{{estimate.id}}" method="post">
                        {% csrf_token %}
                    <p class = 'form_group_title'>Add previous quotes to new estimate: </p>
                    <div class="form_row_group check">
                    
                        {% for quote in owner.quotes.all %}
                        {% if quote not in estimate.quotes.all %}
                        <input class = 'form_group_input check' type="checkbox" id="{{quote.id}}" name="quote_id" value="{{quote.id}}">
                        <label class = 'form_group_label check' for="{{quote.id}}"> {{quote.dog.name}} [{{quote.dog.coat.name}}] ${{quote.dog.quotes.all.0.total}}</label><br>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>

                

                

            </div>         <!-- END LEFT_MAIN -->
                
            
            <div id="right_main">
               


                
                <h2>Add Extras to {{quote.dog.name}} </h2>
                <form action="/process_add_extras_to_quote/{{quote.id}}/{{estimate.id}}" method="post">
                    {% csrf_token %}
                <div class = 'form_row'>
                    <p class = 'form_group_title'>In addition to Bath Service: </p>
                    <div class="form_row_group radio ">
                    <input class = 'form_group_input radio' type="radio" id="short_haircut" name="service" value="Short_Haircut">
                    <label class = 'form_group_label radio' for="short_haircut">short_haircut</label><br>
                    <input class = 'form_group_input radio' type="radio" id="long_haircut" name="service" value="Long Haircut">
                    <label class = 'form_group_label radio' for="long_haircut">long_haircut</label><br>
                    </div>
                </div>

                {% if quote.dog.coat.name != 'Clippable' or quote.dog.coat.name != 'Doodle'%}
                <div class = 'form_row'>
                    <p class = 'form_group_title'>Checkbox Group </p>
                    <div class="form_row_group check">
                    <input class = 'form_group_input check' type="checkbox" id="shedless" name="shedless" value="shedless">
                    <label class = 'form_group_label check' for="shedless"> Shedless Treatment</label><br>
                    </div>
                </div>
                {% endif %}

                <p>Additional Charges:</p>
                <div class="form_row"><label class ='form_label' for = 'overdue'>overdue </label> <input class='form_input' name = 'overdue' type = 'number'></div>
                <div class="form_row"><label class ='form_label' for = 'special'>special_handling </label> <input class='form_input' name = 'special' type = 'number'></div>
                <div class="form_row"><label class ='form_label' for = 'profuse'>profuse_coat </label> <input class='form_input' name = 'profuse' type = 'number'></div>
                <div class="form_row"><label class ='form_label' for = 'dematting'>dematting </label> <input class='form_input' name = 'dematting' type = 'number'></div>
                <button class ='form_button' type ='submit'> Add Additional Services </button>
                </form>

            </div>    <!-- END RIGHT_MAIN -->  
                
        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
    
</body>
</html>