<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHANGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'add_anonymous_estimate.css' %}">
</head>
<body>

    
    <div id="CANVAS_long">
        <div id="TOP_long">
            <nav>
                <div class="nav_left">
                    <h2 class = 'h2_nav'> FAIR<i class="fa fa-handshake-o nav"></i>EST</h2>
                    <a class = 'nav_right h2_nav' href = '/dashboard'>Dashboard</a>
                    <!-- <a href='/dashboard' class = 'h2_nav'> Home</p> -->
                </div>
                <div class="nav_right">
                    <a class = 'nav_right h2_nav' href = '/signout'>Sign Out</a>
                </div>
            </nav>
        </div>



        <div id="interface_block_two">
            <div id="left_main">  
                <h2> Estimate # {{estimate.id}}</h2>
                <h3>Currently in Estimate:</h3>
                <table>
                    <tr>
                        <th class= "name">pet name</th>
                        <th class = 'weight'>weight</th>
                        <th class = 'coat_type'>coat_type</th>
                        <th class = 'total'>total</th>
                        <th class = 'actions'>actions</th>
                    </tr>
                    {% for quote in estimate.quotes.all %}
                    <tr>
                        <td>{{quote.dog.name}}</td>
                        <td>{{quote.dog.weight}} lbs</td>
                        <td>{{quote.dog.coat.name}}</td>
                        <td>${{quote.total}}</td>
                        <td>
                            <a class = 'in_page' href = '/process_remove_dog_from_estimate/{{quote.id}}/{{estimate.id}}'>Remove from Estimate</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <h3>Estimate Total: ${{total}}</h3>
                <h2>{{estimate.owner.first}} {{estimate.owner.last}}</h2>
                <p>{{estimate.owner.email}}</p> 
                <p>{{estimate.owner.phone}}</p> 
                <p>{{estimate.owner.notes}}</p>
                <div class = 'form_row'>
                    <p class = 'form_group_title'>Add previous quotes to new estimate: </p>
                    <div class="form_row_group check">
                    
                    
                        
                        <input class = 'form_group_input check' type="checkbox" id="{{dog.id}}" name="dog_id" value="{{dog.id}}">
                        <label class = 'form_group_label check' for="{{dog.id}}"> {{dog.name}} [{{dog.coat.name}}] ${{dog.quotes.all.0.total}}</label><br>
                    </div>
                </div>

                <form action="/process_add_quote_to_estimate/{{estimate.id}}" method="post">
                    <h2>Add Dog to Estimate # {{estimate.id}} </h2>
                    {% csrf_token %}
                    <div class="form_row"><label class ='form_label' for = 'name'> Name </label> 
                        <input class='form_input' name = 'name' type = 'text'>
                    </div>
                    <div class="form_row"><label class ='form_label' for = 'weight'> Weight (lbs) </label> 
                        <input class='form_input' name = 'weight' type = 'number'> 
                    </div>


                    <label class ='form_label' for = 'form_select'>Coat Type </label>
                    <select class = 'form_select' name = 'coat_type'>
                        {%for coat in coats %}
                        <option value = {{coat.id}}>{{coat.name}}</option>
                        {% endfor %}
                    </select>

                    <div class="age_group">
                    <div class="form_row ages">
                        <label class ='form_label' for = 'years'>Age in years</label> 
                        <input class='form_input' name = 'years' type = 'number'>
                        <label class ='form_label' for = 'months'>Age in months</label> 
                        <input class='form_input' name = 'months' type = 'number'>
                    </div>
                </div>




                    <div class="form_row"><label class ='form_label' for = 'notes'>Notes </label> 
                        <textarea class='form_textarea'  name = 'notes'></textarea>
                    </div>
                    <div class="form_row_button"><button class ='form_button' type ='submit'> Add Quote</button></div>

                </form>


            </div>         <!-- END LEFT_MAIN -->
                
            
            <div id="right_main">
                {% for coat in coats %}
                <div class="coat">
                    <img width = 120px src = '/static/images/{{coat.name}}.jpg'>
                    <div class="coat_desc">
                    <h2>{{coat.name}}</h2>
                    <p>{{coat.desc}}</p>
                    <p>{{coat.examples}}</p>
                    </div>
                </div>
                {% endfor %} 
            </div>    <!-- END RIGHT_MAIN -->  
                
        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
</body>
</html>