<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add First Estimate</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'add_quotes_to_estimate.css' %}">
</head>
<body>

    
    <div id="CANVAS_long">
        <div id="TOP_long">
            <nav>
                <div class="nav_left">
                    <h2 class = 'nav_logo'> FAIR<i class="fa fa-handshake-o nav"></i>EST</h2>
                    <a href='/dashboard' class = 'h2_nav'> Home</a>
                    <a class = 'nav_right h2_nav' href = '/dashboard'>Dashboard</a>
                </div>
                <div class="nav_right">
                    <!-- <a class = 'nav_right h2_nav' href = '/signin'>Sign in</a> -->
                </div>
            </nav>
        </div>
        </div>



        <div id="interface_block_two">
            <div id="left_main">         
                <div class="top_new">
                    <h3>Welcome to</h3>
                    <h2 class = 'logo'> FAIR<i class="fa fa-handshake-o nav"></i>EST</h2>
                    <h2> Create New Estimate:</h2>
                </div>
                <img src = '/static/images/onedog.gif' >
                
                <div class="coats">
                    {% for coat in coats %}
                    <div class="coat">
                        <img class ='pic' src = '/static/images/{{coat.name}}.jpg'>
                        <div class="coat_desc">
                        <h2>{{coat.name}}</h2>
                        <!-- <p>{{coat.desc}}</p>
                        <p>{{coat.examples}}</p> -->
                        </div>
                    </div>
                    {% endfor %} 
                </div>

            </div>         <!-- END LEFT_MAIN -->
                
            
            <div id="right_main">

              

                <form action="/process_add_first_estimate" method="post">
                    {% if messages %}
                    <ul class="messages">    
                    {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                    </ul>
                    {% endif %}
                        
                    <h2>Add your first estimate: </h2>
                    <div class="add_owner">
                        <h3>Add New Owner </h3>
                        {% csrf_token %}
                        <div class="form_row"><label class ='form_label' for = 'first'>First Name </label> 
                            <input class='form_input' name = 'first' type = 'text'>
                        </div>

                        <div class="form_row"><label class ='form_label' for = 'last'>Last Name </label> 
                            <input class='form_input' name = 'last' type = 'text'>
                        </div>

                        <div class="form_row"><label class ='form_label' for = 'email'>Email </label> 
                            <input class='form_input' name = 'email' type = 'text'>
                        </div>

                        <div class="form_row"><label class ='form_label' for = 'phone'>Phone </label> 
                            <input class='form_input' name = 'phone' type = 'text'>
                        </div>

                        <div class="form_row"><label class ='form_label' for = 'owner_notes'>Notes </label> 
                            <textarea class='form_textarea'  name = 'owner_notes'></textarea>
                        </div>
                    </div>

                    <h3>Add First Dog </h3>
                    <div class="form_row"><label class ='form_label' for = 'pet_name'> Pet </label> 
                        <input class='form_input' name = 'pet_name' type = 'text'>
                    </div>
                    <div class="form_row"><label class ='form_label' for = 'weight'> Weight (lbs) </label> 
                        <input class='form_input' name = 'weight' type = 'number'> 
                    </div>


                    <label class ='form_label' for = 'form_select'>Coat Type </label>
                    <select class = 'form_select' name = 'coat_type'>
                        {%for coat in coats %}
                        <option value = {{coat.id}}>{{coat.name}}</option>
                        {% endfor %}
                    </select>

                    <div class="form_row">
                            <label class ='form_label' for = 'years'>Age in years</label> 
                            <input class='form_input age' name = 'years' type = 'number'>
                    
                            <label class ='form_label' for = 'months'>Age in months</label> 
                            <input class='form_input age' name = 'months' type = 'number'>
                        </div>

                    <div class="form_row"><label class ='form_label' for = 'pet_notes'>Notes </label> 
                        <textarea class='form_textarea'  name = 'pet_notes'></textarea>
                    </div>
                    <label class ='form_label' for = 'form_select'>Service </label>
                    <select class = 'form_select' name = 'service'>
                        {% for service in services %}
                        {% if dog.service.name == service.name %}
                        <option value = '{{service.name}}' selected>{{service.name}}</option>
                        {% else %}
                        <option value = '{{service.name}}' >{{service.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>


                    <div class="add_ons">
                        <h3> Additional Services: </h3>
                        <div class="form_row">
                            <label class ='form_label' for = 'overdue'>overdue </label> 
                            <input value= "{{quote.overdue}}"class='form_input  age' name = 'overdue' type = 'number'>
                            <label class ='form_label' for = 'special'>special_handling </label> 
                            <input value= "{{quote.special}}"class='form_input age' name = 'special' type = 'number'>
                        </div>
                        <div class="form_row">
                            <label class ='form_label' for = 'profuse'>profuse_coat </label> 
                            <input value= "{{quote.profuse}}"class='form_input age' name = 'profuse' type = 'number'>
                            <label class ='form_label' for = 'dematting'>dematting </label> 
                            <input value= "{{quote.dematting}}"class='form_input age' name = 'dematting' type = 'number'>
                        </div>
                    </div>
                <div class="form_row_button"><button class ='form_button' type ='submit' name = 'bath_quote' value='1'> Add Estimate</button></div>
                </form>





            </div>    <!-- END RIGHT_MAIN -->  
                
        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
    
</body>
</html>