<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHANGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'add_anonymous_estimate.css' %}">
</head>
<body>

    
    <div id="CANVAS_long">
        <div id="TOP_long">
            <nav>
                <div class="nav_left">
                    <h2 class = 'h2_nav'> FAIR<i class="fa fa-handshake-o nav"></i>EST</h2>
                    <a class = 'nav_right h2_nav' href = '/dashboard'>Dashboard</a>
                    <!-- <a href='/dashboard' class = 'h2_nav'> Home</p> -->
                </div>
                <div class="nav_right">
                    <a class = 'nav_right h2_nav' href = '/signout'>Sign Out</a>
                </div>
            </nav>
        </div>



        <div id="interface_block_two">
            <div id="left_main">  
                
                <h2>{{dog.name}} </h2>
                <div class = 'form_row'>
                    <div class="form_row_group check">
                        
                        {% for quote in dog.quotes.all %}
                        <p>Quote ID #{{quote.id}} - {{quote.dog.name}} [{{quote.dog.coat.name}}] ${{quote.total}}</p>
                        <!-- <a href ='/process_delete_quote/{{quote.id}}'>-  Delete this Quote</a> -->
                        {% endfor %}
                        
                        
                    </div>
                    <a href ='/add_quote_to_dog/{{quote.dog.id}}'>Add New Quote to {{dog.name}}</a>
                </div>

                <form action="/process_edit_quote/{{quote.id}}/{{estimate_id}}" method="post">
                    <h2>Add New Quote # {{estimate.id}} </h2>
                    {% csrf_token %}
                    <div class="form_row"><label class ='form_label' for = 'name'> Name </label> 
                        <input class='form_input' name = 'name' type = 'text' value='{{quote.dog.name}}'>
                    </div>
                    <div class="form_row"><label class ='form_label' for = 'weight' > Weight (lbs) </label> 
                        <input class='form_input' name = 'weight' type = 'number' value='{{quote.dog.weight}}'> 
                    </div>


                    <label class ='form_label' for = 'form_select'>Coat Type </label>
                    <select class = 'form_select' name = 'coat_type'>
                        {% for coat in coats %}
                        {% if dog.coat.name == coat.name %}
                        <option value = {{coat.id}} selected>{{coat.name}}</option>
                        {% else %}
                        <option value = {{coat.id}}>{{coat.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                    <div class="age_group">
                    <div class="form_row ages">
                        <label class ='form_label' for = 'years'>Age in years</label> 
                        <input class='form_input' name = 'years' type = 'number'>
                        <label class ='form_label' for = 'months'>Age in months</label> 
                        <input class='form_input' name = 'months' type = 'number'>
                    </div>
                </div>




                    <div class="form_row"><label class ='form_label' for = 'notes'>Notes </label> 
                        <textarea class='form_textarea'  name = 'notes'>{{quote.dog.notes}}</textarea>
                    </div>
                    <div class="form_row_button"><button class ='form_button' type ='submit'> Update</button></div>

                </form>


            </div>         <!-- END LEFT_MAIN -->
                
            
            <div id="right_main">
                <h3><p>Owner:</p>{{dog.owner.first}} {{dog.owner.last}}</h3>
                <p>{{dog.owner.email}}</p> 
                <p>{{dog.owner.phone}}</p> 
                <p>{{dog.owner.notes}}</p>

                {% for dog in dog.owner.dogs.all %}
                {% if dog.quotes.all %}
                <a href=''>{{dog.name}}</a>
                {% endif %}
                {% endfor %}

                {% for coat in coats %}
                <div class="coat">
                    <img width = 120px src = '/static/images/{{coat.name}}.jpg'>
                    <div class="coat_desc">
                    <h2>{{coat.name}}</h2>
                    <p>{{coat.desc}}</p>
                    <p>{{coat.examples}}</p>
                    </div>
                </div>
                {% endfor %} 
            </div>    <!-- END RIGHT_MAIN -->  
                
        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
    
</body>
</html>