<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHANGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'add_quotes_to_estimate.css' %}">
</head>
<body>

    
    <div id="CANVAS_long">
        <div id="TOP_long">
            <nav>
                <div class="nav_left">
                    <h2 class = 'h2_nav'> FAIR<i class="fa fa-handshake-o nav"></i>EST</h2>
                    <a class = 'nav_right h2_nav' href = '/dashboard'>Dashboard</a>
                    <!-- <a href='/dashboard' class = 'h2_nav'> Home</p> -->
                </div>
                <div class="nav_right">
                    <a class = 'nav_right h2_nav' href = '/signout'>Sign Out</a>
                </div>
            </nav>
        </div>

        <div id="interface_block_two">
          
    

            <div id="left_main">
                <div class="top">
                    <h2 class = 'logo'> FAIR<i class="fa fa-handshake-o nav"></i>EST</h2>
                    <h2> Build Estimate:</h2>
                </div>

                <h2>Estimate Total: ${{estimate.total}}</h2>
                    <div class="table">
                        <table>
                            <tr>
                                <th class= "name">pet name</th>
                                <th class = 'weight'>weight</th>
                                <th class = 'coat_type'>coat_type</th>
                                <th class = 'total'>total</th>
                                <th class = 'actions'>actions</th>
                            </tr>
                            {% for quote in estimate.quotes.all %}
                            <tr>
                                <td>{{quote.dog.name}}</td>
                                <td>{{quote.dog.weight}} lbs</td>
                                <td>{{quote.dog.coat.name}}</td>
                                <td>${{quote.total}}</td>
        
                                <td>
                                    <a class = 'in_page' href = '/process_remove_dog_from_estimate/{{quote.id}}/{{estimate.id}}'>Remove from Estimate</a>
                                    <a class = 'in_page' href = '/edit_quote/{{quote.id}}/1/{{estimate.id}}'>Edit Pet Quote</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>


                <div class = 'form_row'>
                    <!-- FORM STARTS HERE -->
                    <form action="/process_add_quote_to_estimate/{{estimate.id}}" method="post">
                        {% csrf_token %}
                    <p class = 'form_group_title'>Add previous quotes to new estimate: </p>
                    <div class="form_row_group check">
                    
                        {% for quote in owner.quotes.all %}
                        {% if quote not in estimate.quotes.all %}
                        <input class = 'form_group_input check' type="checkbox" id="{{quote.id}}" name="quote_id" value = '{{quote.id}}'>
                        <label class = 'form_group_label check' for="{{quote.id}}"> {{quote.dog.name}} [{{quote.dog.coat.name}}] ${{quote.dog.quotes.all.0.total}}</label><br>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="form_row_button"><button class ='form_button' type ='submit' name = 'button_press' value='0'> Add Previous Quotes</button></div>
                </div>
                
                
                <div class="quotes">
                    {% for quote in estimate.quotes.all %}
                    
                    <table class = 'clear'>
                        <tr>
                            <th>{{quote.dog.name}}</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td> [{{quote.dog.coat.name}}] - {{quote.service.name}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Service Price:</td>
                            <td>${{quote.service_price}}</td>
                        </tr>
                        <tr>
                            <td>Weight Price: </td>
                            <td>${{quote.weight_price}}</td>
                        </tr>
                        <tr>
                            <td>Coat Price: </td>
                            <td>${{quote.coat_price}}</td>
                        </tr>
                        <tr>
                            <td>Schedule Price: </td>
                            <td>${{quote.schedule_price}}</td>
                        </tr>
                        <tr>
                            <td>Special Handling:</td>
                            <td>${{quote.special}}</td>
                        </tr>
                        <tr>
                            <td>Overdue: </td>
                            <td>${{quote.overdue}}</td>
                        </tr>
                        <tr>
                            <td>Profuse Coat</td>
                            <td>${{quote.profuse}}</td>
                        </tr>
                        <tr>
                            <td>Dematting</td> 
                            <td>${{quote.dematting}}</td>
                        </tr>
                        <tr>
                            <th>Total:</th> 
                            <th>${{quote.total}}</th>
                        </tr>
                    </table>
                    {% endfor %}
                    </div>

                    
                    
                
            </div>    <!-- END RIGHT_MAIN -->


          
            
            <div id="right_main"> 

                <div class="owner">
                    <div class="o_left">
    
                        <img class = 'icon' src = '/static/images/inhands.png' >
                    </div>
                    <div class="o_right">
                        <h2>{{estimate.owner.first}} {{estimate.owner.last}}</h2>
                        <p>{{estimate.owner.email}}</p> 
                        <p>{{estimate.owner.phone}}</p> 
                        <p>{{estimate.owner.notes}}</p>
                        <a href = '/edit_owner/{{estimate.owner.id}}/1/0/{{estimate.id}}'>Edit Owner</a>
                    </div>
                </div>
                    

                    <h3>Add New Dog</h3>
                    {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    <div class="form_row"><label class ='form_label' for = 'pet_name'> Name </label> 
                        <input class='form_input' name = 'pet_name' type = 'text'>
                    </div>
                    <div class="form_row"><label class ='form_label' for = 'weight'> Weight (lbs) </label> 
                        <input class='form_input' name = 'weight' type = 'number'> 
                    </div>

                    <div class="form_row">
                    <label class ='form_label' for = 'form_select'>Coat Type </label>
                    <select class = 'form_select' name = 'coat_type'>
                        {%for coat in coats %}
                        <option value = {{coat.id}}>{{coat.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                    
                        <div class="form_row">
                            <label class ='form_label' for = 'years'>Age in years</label> 
                            <input class='form_input age' name = 'years' type = 'number'>
                    
                            <label class ='form_label' for = 'months'>Age in months</label> 
                            <input class='form_input age' name = 'months' type = 'number'>
                        </div>


                    <div class="form_row"><label class ='form_label' for = 'notes'>Notes </label> 
                        <textarea class='form_textarea'  name = 'notes'>{{quote.dog.notes}}</textarea>
                    </div>
                    <div class="form_row">
                        <label class ='form_label' for = 'form_select'>Service </label>
                        <select class = 'form_select' name = 'service'>
                            {% for service in services %}
                            {% if dog.service.name == service.name %}
                            <option value = '{{service.name}}' selected>{{service.name}}</option>
                            {% else %}
                            <option value = '{{service.name}}' >{{service.name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="add_ons">
                        <h3> Additional Services: </h3>
                        <div class="form_row">
                            <label class ='form_label' for = 'overdue'>overdue </label> 
                            <input value= "{{quote.overdue}}"class='form_input  age' name = 'overdue' type = 'number'>
                            <label class ='form_label' for = 'special'>special_handling </label> 
                            <input value= "{{quote.special}}"class='form_input age' name = 'special' type = 'number'>
                        </div>
                        <div class="form_row">
                            <label class ='form_label' for = 'profuse'>profuse_coat </label> 
                            <input value= "{{quote.profuse}}"class='form_input age' name = 'profuse' type = 'number'>
                            <label class ='form_label' for = 'dematting'>dematting </label> 
                            <input value= "{{quote.dematting}}"class='form_input age' name = 'dematting' type = 'number'>
                        </div>
                    </div>

                    <div class="form_row_button"><button class ='form_button' type ='submit' name = 'button_press' value='1'> Add Quote</button></div>
                </form>

                <div class="coats">
                    {% for coat in coats %}
                    <div class="coat">
                        <img class ='pic' src = '/static/images/{{coat.name}}.jpg'>
                        <div class="coat_desc">
                        <h2>{{coat.name}}</h2>
                        <!-- <p>{{coat.desc}}</p>
                        <p>{{coat.examples}}</p> -->
                        </div>
                    </div>
                    {% endfor %} 
                </div>



            </div>         <!-- END LEFT_MAIN -->
                
            
             
                
        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
    
</body>
</html>