<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coat Types</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'coat_types.css' %}">
</head>
<body>

    <div id="CANVAS_long">

        <div id="TOP_long">
            <nav>
                <div class="nav_left">
                    <h2 class = 'nav_logo'> FAIR<i class="fa fa-handshake-o nav"></i>EST</h2>
                    <a href='/' class = 'h2_nav'> Home</a>
                    <a class = 'nav_right h2_nav' href = '/dashboard'>Dashboard</a>
                </div>
                <div class="nav_right">
                    <!-- <a class = 'nav_right h2_nav' href = '/signin'>Sign in</a> -->
                </div>
            </nav>
        </div>
  
        
        <div id="interface_block_two">
            <div id="left_main">
                <div class="intro">
                    <p> Oddly enough, for all the variations most dogs have coats that fall into one of seven categories that are important for estimating the amount of work it takes to care for it.</p>
                    <p class = 'examples'> <b>* Breed examples given are based on the AKC breed standard guideline for that breed.</b></p>
                </div>
                {% for coat in first_batch %}
                <div class = "coat_card">
                    <div class="coat">
                        <div class="left">
                            <h2>{{coat.name}}</h2>
                            <p>{{coat.desc}}</p>
                            <p class = 'examples'><b>Examples</b>:{{coat.examples}} </p>
                        </div>
                        <div class="right">
                            <img class = "coat_img" src='static/images/{{coat.name}}.jpg' alt = '{{coat.name}}'>
                        </div>
                    </div>
                    </div>
                    {% endfor %}

                  


                  
                
            </div>         <!-- END LEFT_MAIN -->
                
            
            <div id="right_main"> 
                {% for coat in second_batch %}
                <div class = "coat_card">
                    <div class="coat">
                        <div class="left">
                            <h2>{{coat.name}}</h2>
                            <p>{{coat.desc}}</p>
                            <p class = 'examples'><b>Examples</b>:{{coat.examples}} </p>
                        </div>
                        <div class="right">
                            <img class = "coat_img" src='static/images/{{coat.name}}.jpg' alt = '{{coat.name}}'>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                          
            </div>    <!-- END RIGHT_MAIN -->  
                
        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
    
</body>
</html>